body{
    background-color: #fff9e3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 600px;
    margin: auto;
  }
  
  #container{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto; 
  }
  
  #inner_container{
    width: 100%;
    height: 100%;
    float: left;
    background: url(images/1.jpg);
    background-size: contain;
  }
  
  img{
    width: 100%;
    height: 100%;  
  }
  
  #button_container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  button{
    width: 100%;
    height: 100px;
  }
  .button_image, .button_imageRefresh{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-image: url(images/button_default.png);
    height: 90%;
    background-size: cover;
  }

  .button_imageRefresh{
    background-image: url(images/button_pressed.png);
  }
/*   
  button{
    width: 25%;
    height: 90%;
  
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  
    border-radius: 5px;
    background-color: #EF233C;
  }
  
  button:hover{
    transition: 0.05s;
    background-color: #D90429;
    transform: rotateZ(-10deg);
    box-shadow: 0 0 30px -10px #D90429;
  }
  
  button:active{
    transform: translateY(20px);
    transform: rotateZ(10deg);
  
  } */